.wrapper {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden !important;
}
.sky {
  background: #246e89
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/641/bg_sky.jpg") repeat-x
    100% 100% / auto 100%;
  top: 0;
  height: 50vh;
}
.eagleDiv {
  position: absolute;
  width: 20vw;
  top: 0;
}
.eagleDiv > img {
  width: 20vw;
  /* top: "-100%"; */
}
.grass {
  background: #81b429
    url("https://lh3.googleusercontent.com/proxy/P9mnstq3fGx_xZ7A8Z6ZTM2WhhguDXQiLACnKujw1SWQhcQHOYxwUcnQ3xlTeIHt6_XYZu9y6pA7uU_AVUAwTwPAILz4uV0GlgxiPQf486MuzDYe4znQpBHM2zQa")
    repeat-x 100% 100% / auto 100%;
  height: 50vh;
}
.rabbitDiv {
  position: absolute;
  width: 10vw;
  bottom: 10%;
}
.rabbitDiv > img {
  width: 10vw;
}
.bush {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  width: 15vw;
  color: #81b429;
}
